﻿<%@ Page Title="" Theme="MyTheme" Language="C#" MasterPageFile="~/LMS.Master" AutoEventWireup="true" CodeBehind="AuthorizePage.aspx.cs" Inherits="LMS.AuthorizePage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h4  style="text-align:center">Page Access Denied !!! </h4>
    <div class="width80 center">
    <img alt="access denied" src="images/background/Access-Denied.jpg"  />
    <hr class="hrspacer" /> 
    </div>
<div class="bottommarg"></div>
</asp:Content>
