﻿<%@ Page Title="Home Page" Theme="MyTheme" Language="C#" MasterPageFile="~/LMS.master" AutoEventWireup="true"
    CodeBehind="Default.aspx.cs" Inherits="LMS._Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="head">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
<center>    <h4>
       LEARNER MANAGEMENT SYSTEM !!!
    </h4>
   </center>
   <div class="center">
  <img id="imgconstruct" alt="under construction"  src="images/background/Under_Construction_Sign.png" /> </div>

</asp:Content>
