﻿*
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}


body 
{
    width:auto;
    height:auto;
    color:#339966;
    font-size:large;
    background-image:url('../images/background/congruent_12.png'); /*paper-comp.jpg');*/
    background-repeat:repeat;
}
/* Glow effect on selcted item*/
   .focus
        {
          color:Red;
          border:2px solid Red;/*#555;*/
          
        }
    
#imglogo
{
    
    width: auto;
    margin:25px 25px 0px 25px;
    height: auto;
}
.content
{
    width:90%;
    height:auto;
    margin:50px auto;
 /*    background-color:White;*/
}

.main 
{
    width:auto; 
   background-image:url('../images/background/bg.png');
   background-repeat:repeat;
   padding:20px auto;
 /*  background-image:url('../images/background/congruent_pentagon.png');
 */  
    border-radius:10px 10px 10px 10px;
    margin-top:20px;
    height:auto;
}
h4
{
  text-align:center; 
  font-size:larger;
  font-weight:bolder; 
}
a:hover, a:link, a:active
{
    color:Green;
}
.hrspacer
{
    margin:10px 0px;
}
.clear
{
    clear:both;
    height:2px;
}
.table-grid-space
{
     margin:10px 0px;
    height:10px;
  
}
.msglabel
{
color:Red;
font-size:small;
font-weight:bo
}
.center
{
    text-align:center;
}
.blink
{
    text-decoration:blink;
    
}
.imgcal
{
    height:25px;
     position:inherit;
}
#header
{
    width:100%;
    height:auto;
/*   background-image:url('../images/background/backgrnd.png');
   background-repeat:no-repeat;*/
   background-color:rgb(255,255,255);
    border: solid 1px #555;
    border-radius:15px;
    background-position:inherit;
    
    
}
#headpix
{
    height:150px;
    width:100%;
 
}
.imghead
{
    width:99%;
    height:100%;
    margin-left:1%;
    
    
}
#logo
{
    float:left;
    width:auto;
    height:auto;
}
#login
{
    float:right;
    width:auto;  
    height:auto;
    margin:0px 25px;
}

/*.ButLog
{
    background-image:url('../images/controls/Button.png');
    background-repeat:no-repeat;
}*/

.loading
{
  background-image:url('../images/background/loading2.gif');
  background-repeat:no-repeat;
  margin:auto;
}
.Skintxbox
{
   border-radius: 5px 5px 5px 5px ;  
   resize:none; 
    border-style:hidden;
   
}
.SkinButton
{
     border-radius: 5px 5px 5px 5px ; 
     background-color:#339966;
     color: #eed;
    border-style:hidden;
}

#gridscroll,.gridscroll2
{
    height:auto;
    overflow-y:auto;
    border-radius:15px;
     width:95%;
     border-radius: 5px 5px 5px 5px ;  
     border-style:hidden;
    margin:auto;
}
.width80
{
    width:80%;
    margin:auto;
}
.width90
{
    width:90%;
    margin:auto;
}
.width50
{
    width:50%;
    margin:auto;
}
.largtxt
{
    font-weight:bolder;
}
#nav 
{
   
    height:auto;
    width:auto;
    margin-top:-28px;
    z-index:1;
    
}
 #nav ul{ width:auto;   margin-left:20px;
    margin-bottom: 3px;
} 

#nav ul li,#nav a
 {
   list-style-type:none;
   display:inline-block;
   text-decoration:none;
   padding:2px 5px;
   color:inherit;
}

.textshadow
{
  text-shadow:Black 0px 3px 0px ;
} 
 
#upper ul li 
{
    width:auto; /* 17% */
    height:25px;
    text-align:center; 
    -ms-border-radius: 10px;
  border-radius: 10px 10px 0px 0px;   
  font-weight:bold;  
  
    border: solid 1px #555;
    box-shadow: 0 0 15px rgba(0,0,0,0.6); 
      color:Gainsboro;
  text-shadow:Black 0px 3px 0px ;
   background-color:Green;
  /*   text-shadow: #ffffff 0px 1px 0px ; */
}

ul li 
{
     margin:0px;
      
}
#lower
{
    height:40px;
    border-top: 1px solid Gainsboro;
    background-color:Gainsboro;
    z-index:1;
  border-radius:0px 0px 10px 10px ;
}

#upper ul li:hover
{
       text-shadow:White 0px 3px 0px ;
       color:Green;
       background-color: Gainsboro;
}
#lower
{
    margin-top:0px;
}
#lower ul li
{
    width:auto; /* 13% */
    height:25px;
    text-align:center;
    font-size:medium;
    font-weight:bold;
    color:Green;
    padding-top:8px;
    
    border: solid 1px #eed;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    text-shadow:White 0px 3px 0px ;
    background-color: Gainsboro;
    border-radius:0px 0px 10px 10px ;
}
#lower ul
{
    margin-left:20px;
    width:auto;
    margin-top:0px;
}



.footer
{
    height:auto;
    width:100%;
  /*  background-color:Green;*/
    background-image:url('../images/background/congruent_pentagon.png');
     border-radius: 10px 10px 10px 10px; 
     padding-top:20px;
    
}
.footer h4
{
    text-align:center;
    font-size:inherit;
    font-weight:bold;
}
.footer a
{
    text-decoration:none;
    color:inherit;
}
.myhr
{
   width:90%;
   border-top:2px solid Green;
   height:3px;
   margin:auto;
}

#sub1
{
  width:33%;
  height:100%;
  float:left;
  margin:0px 5px;
  padding-left:20px;
  text-align:center;
}
#sub1 a
{
    text-decoration:none;
    color:inherit;
}
#sub2
{
  width:30%;
  height:100%;
  float:left;
  margin:0px 5px;
  border-left:1px solid Green;
  border-right:1px solid Green;
}
.myhr1
{
    width:70%;
   border-top:2px solid Green;
   height:3px;
   margin:auto;
}
#sub3
{
  width:30%;
  height:171px;
  float:left;
  margin-right:5px;
}
.footer blockquote
{
    margin:-27px 5px 0px 40px;
    font-family: serif;
}
.copyright
{
    border-top:2px solid Green; 
    padding-bottom:15px;
}
.infoimg
{
   margin-left:15px;
    width: 19px;
    height: 26px;
}
/* LOADING GIF */
#loading
{
   background-image:url('../images/background/bg.png');
   background-repeat:repeat;
}

/* PERSONAL DETAILS.....*/
#PD
{
  width:90%;
  margin:auto; 
}
.topmarg
{
    padding-top:25px;
}
.bottommarg
{
    padding-bottom:25px;
}

.pd_td
{
    height:25px;  
}
/* Next Of KIN DETAILS*/
#NOK
{
 width:90%;
 margin:auto;
 height:auto;
}

.fixedhead
{
position:static;
top: 0px;
right:0px;
}

/* QUALIFIED CANDIDATES */
#QL
{
  margin:auto;  
}

/* APPROVED LIST */

#AL
{
  height:auto;   
}

#UP
{
   width:70%;
   margin:auto;  
}

#GA
{
    margin:auto;
}