﻿

/* Textbox shadow all sides*/
.TextboxShadow
{    
    border: solid 1px inherit;/*#555;*/
   /* background-color: #eed;*/
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

/* 5px TextBox Blur on all sides */ 
.TextboxBlur
{
    border: solid 1px #555;
   background-color: #eed;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

/* Right Box Shadow---- NO BLUR*/

.topRightShadow
{
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 10px -10px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px -10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px -10px rgba(0,0,0,0.6);
    -o-box-shadow: 10px -10px rgba(0,0,0,0.6);
}


/* Right BLUR Shadow----*/
.topRightShadowBlur
{
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
}

/* Inset Shadow Effect ---  corners */
.insetShadow-all-corners2
{
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: inset 10px -10px 25px rgba(0,0,0,0.6),inset -10px 10px 25px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 10px -10px 25px rgba(0,0,0,0.6),inset -10px 10px 25px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 10px -10px 25px rgba(0,0,20,0.6),inset -10px 10px 25px rgba(0,0,0,0.6);
    -o-box-shadow: inset 10px -10px 25px rgba(0,0,0,0.6),inset -10px 10px 25px rgba(0,0,0,0.6);
   
}

.insetShadow-all-corners
{
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: inset 10px -10px 25px rgba(0,0,0,0.4),inset -10px 10px 25px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 10px -10px 25px rgba(0,0,0,0.6),inset -10px 10px 25px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 10px -10px 25px rgba(0,0,20,0.6),inset -10px 10px 25px rgba(0,0,0,0.6);
    -o-box-shadow: inset 10px -10px 5px rgba(0,0,0,0.6),inset -10px 10px 25px rgba(0,0,0,0.6);
   
}
.insetShadow-bottom
{
     background-color: #eed;
     box-shadow: inset 0px -20px 25px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 0px -20px 25px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 0px -20px 25px rgba(0,0,0,0.6);
    -o-box-shadow: inset 0px -20px 25px rgba(0,0,0,0.6);
}
.insetShadow-top-right   
{
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: inset -10px 10px 25px rgba(0,0,0,0.6);
    -moz-box-shadow: inset -10px 10px 25px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset -10px 10px 25px rgba(0,0,0,0.6);
    -o-box-shadow: inset -10px 10px 25px rgba(0,0,0,0.6);
}
.topRightShadow /* Box shadow*/
{
    
border: solid 1px #555;
background-color: #eed;
box-shadow: 10px -10px rgba(0,0,0,0.6);
-moz-box-shadow: 10px -10px rgba(0,0,0,0.6);
-webkit-box-shadow: 10px -10px rgba(0,0,0,0.6);
-o-box-shadow: 10px -10px rgba(0,0,0,0.6);
}
/* Blur Top and Bottom */
.topandbottom
{
border: solid 1px #555;
background-color: #eed;
box-shadow:0px -10px 5px rgba(31, 73, 125, 0.8),0px 10px 5px rgba(31, 73,125,0.8);
-moz-box-shadow:0px -10px 5px rgba(31, 73, 125, 0.8),0px 10px 5px rgba(31, 73,125,0.8);
-webkit-box-shadow:0px -10px 5px rgba(31, 73, 125, 0.8),0px 10px 5px rgba(31, 73,125,0.8);
-o-box-shadow:0px -10px 5px rgba(31, 73, 125, 0.8),0px 10px 5px rgba(31, 73,125,0.8);
}

/*  Shadow left and right */
.leftandright  /* Not yrt working...get full code from site  ,0px 10px 5px rgba(31, 73, 125, 0.8);*/
{
border: solid 1px #555;
background-color: #eed;
box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),-12px 0 8px -4px rgba(31,73,125,0.8);
-moz-box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),-12px 0 8px -4px rgba(31,73,125,0.8);
-webkit-box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),-12px 0 8px -4px rgba(31,73,125,0.8);
-o-box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),-12px 0 8px -4px rgba(31,73,125,0.8);
}

/*... Rounded Corners with blur effect ....*/
.roundedCorner
{
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
    border-radius:25px;
}

/*..Fixing a dive to the top corner of the page..*/
.fixed
{
    position: fixed;
    top: 0px;
    right:0px;
    width:200px;
    border:5px solid #ee3e64;
}